.cardpos {
    margin: 0 auto; /* Center the card */
  }
  
  .imgcard {
    height: 200px; /* Set the height of the image */
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .crdbody {
    text-align: center; /* Center text within card body */
    padding: 10px;
  }
  
  .crdtitle {
    font-size: 1.25rem; /* Adjust title font size */
    font-weight: bold; /* Make title bold */
  }
  
  .crdtext {
    font-size: 1rem; /* Adjust text font size */
  }
  
  